.cart-container{
    display: flex;
    flex-direction: column;
    background-color: green;
    color: white;
    min-width:15%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
}
.cart-element{
    margin: auto;
}