.category-container{
    text-align: center;
}
.category-container select{
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
}
.category-container button{
    height: 30px;
}
.category-container button:hover{
    /* border: 2px solid green; */
    background-color: green;
    color: white;
}
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }