.banner-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 100px;
    margin-right:20px ;
    margin-top: 20px;
    margin-bottom: 0;
    min-width: fit-content;
}
.banner-element img {
    width: 100px;
    height: 60px;
}
h2{
    height: 40px;
    line-height: 40px;
}